html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    overflow-x: hidden; 
}


.home {
    height: 100vh; 
    width: 100vw;  
    margin: 0;
    padding: 0;
}
.bg-image{
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.home h1{
    font-family: "Lexend", sans-serif;
    font-weight:bold;
    color: white;
    text-shadow: 0 0 10px rgb(192, 192, 192);
}

.home p{
    color:white;
}

.about{
    height: 100vh; 
    width: 100vw;  
    display: flex; 
}

.about .nav{
    flex-shrink: 0;
    width: 100%;
}

.about .bg-image{
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}



.members{
    font-family: "Lexend", sans-serif;
    height: 100vh; 
    width: 100vw;  
    display: flex;
    flex-direction: column;
    background: #f5f4f2;
}

.members .col img{
    border-radius: 10%;
    box-shadow: 0 0 5px 2px rgba(96, 96, 96, 0.764); 
    transition: box-shadow 0.3s ease-in-out; 
}


.discographies{
    font-family: "Lexend", sans-serif;
    height: 100vh; 
    width: 100vw;  
    display: flex;
    flex-direction: column;
    background: #f5f4f2;
    overflow:scroll;
}

.discographies .col img{
    border-radius: 4%;
    box-shadow: 0 0 5px 2px rgba(96, 96, 96, 0.764); 
    transition: box-shadow 0.3s ease-in-out;
}

.socials{
    font-family: "Lexend", sans-serif;
    height: 100vh; 
    width: 100vw;  
    display: flex;
    flex-direction: column;
    background: #f5f4f2;
}

.socials .nav{
    flex-shrink: 0;
    width: 100%;
}

.socials .col img{
    display: flex;
    size: 10px;
}











